.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    position: relative !important;
    display: flex !important;
    flex-direction: row;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: auto !important;
    z-index: 1;
}

.modal>* {
    width: 100%;
}